
// FONTS
$main-font: 'NexaFreeBoldwebfont';
$font-size-xx-large: 2.438em; // 39px;
$font-size-small: 0.750em; // 12px;
$logo-slogan-font: 'PT Sans';

// COLORS
$color-gallery: #EBEBEB;
$color-seance: #6a19ac;
$color-mine-shaft: #2d2d2d;
$white: #ffffff;

// LAYOUT COLORS
$main-background-color: $color-gallery;
$logo-color: $color-seance;
$service-color: $color-mine-shaft;
$awards-color: $white;
$footer-color: $color-mine-shaft;

// FONT SIZES PER SECTION
$logo-font-size: $font-size-xx-large;
$logo-slogan-font-size: $font-size-small;

