/* ---------------------------------------------
:: LAYOUT
--------------------------------------------- */

.wrapper{
	width: 100%;
} 

@media screen and (min-width: 780px){
	.wrapper{
		width: 780px;
		margin: 0 auto;
	}
}