/* ---------------------------------------------
:: LAYOUT
--------------------------------------------- */

* {
	outline: 1px solid #F6A1A1;
}

.wrapper{
	width: 100%;
} 

@media screen and (min-width: 780px){
	.wrapper{
		width: 780px;
		margin: 0 auto;
	}
}