
/* -----------------------------------------------
:: SEARCH
-------------------------------------------------- */

.quicklinks{
	width: 100px;
	border-right: 1px solid blue;
}

.quicklinks__title{
	font-size: $font-size-small;
}


