/* -----------------------------------------------
:: RESET
--------------------------------------------- */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  display: inline-block; }

/* ---------------------------------------------
:: LAYOUT
--------------------------------------------- */
* {
  outline: 1px solid #F6A1A1; }

.wrapper {
  width: 100%; }

@media screen and (min-width: 780px) {
  .wrapper {
    width: 780px;
    margin: 0 auto; } }
/* -----------------------------------------------
:: HEADER
--------------------------------------------- */
/* ----------
:: Mobile
---------- */
.header__hero {
  background-color: red; }

.header__content {
  text-align: center; }

.search__icon {
  float: right; }

.search__input {
  display: none; }

/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .header__content {
    display: none; }

  .search__input {
    display: block; }

  .header__d-hero {
    position: absolute;
    left: 0;
    width: 100%;
    height: 445px;
    background-color: blue; } }
/* -----------------------------------------------
  :: NAV
  --------------------------------------------- */
/* ------------
  :: Mobile
  ---------- */
.nav__primary {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%; }

.nav__item {
  display: inline-block;
  height: 9.5em;
  line-height: 3.5em; }

.nav__container {
  clear: right;
  height: 100px;
  background-color: #fff; }

.nav__container--visible {
  display: block; }

.nav__stack {
  float: right;
  margin-left: 73px;
  cursor: pointer; }

.nav__stack__container {
  width: 3em;
  height: 3em; }

.nav__stack__icon {
  fill: #fff; }

.nav__item--selected {
  display: inline-block;
  border-top: 2px solid #fff; }

/* -----------
  :: Desktop
  ---------- */
@media screen and (min-width: 650px) {
  .nav__stack {
    display: none; }

  .nav__primary {
    position: relative; }

  .nav__container {
    display: block;
    background-color: transparent; } }
/* ---------------------------------------------
:: SUB CONTENT
--------------------------------------------- */
.s-content__img {
  display: block;
  margin: 0 auto; }

/* ---------------------------------------------
:: BUTTON
--------------------------------------------- */
.btn-cta {
  display: block;
  margin: 0 auto; }

/* ---------------------------------------------
:: MODULE
--------------------------------------------- */
.module__title {
  text-align: center; }

.module__subtitle {
  text-align: center; }

/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .main-content {
    margin-top: 450px; } }
/* ---------------------------------------------
:: SERVICE
--------------------------------------------- */
.s-content {
  display: none; }

.steps-overview {
  display: none; }

.s-content--selected {
  display: block; }

.service__s-content__img {
  display: block; }

.service__side-bar {
  display: none; }

@media screen and (min-width: 300px) {
  .s-content__group {
    float: right; }

  .service__side-bar {
    display: block;
    float: left; } }
/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .service__side-bar {
    display: none; }

  .steps-overview {
    display: block; }

  .s-content {
    display: block; }

  .service__btn-cta {
    display: none; }

  .service__s-content__img {
    display: none; } }
/* ---------------------------------------------
:: OVERVIEW
--------------------------------------------- */
/* ----------
:: Mobile
---------- */
.module__overview {
  display: none; }

/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .module__overview {
    display: block; } }
/* ---------------------------------------------
:: TEAM
--------------------------------------------- */
.module__team {
  position: relative; }

.team__content {
  text-align: center; }

.team-nav {
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  clear: both; }

.progress-indicator {
  width: 30px;
  margin: 0 auto; }

.progress-indicator:after {
  content: "";
  display: block;
  clear: both; }

.progress-indicator__item {
  float: left; }

.team-member {
  float: none;
  display: none;
  max-width: 300px;
  clear: both; }

.team-member--selected {
  display: block;
  margin: 0 auto; }

.team-member__description {
  display: none; }

.nav-control {
  position: absolute;
  top: 50%;
  cursor: pointer; }

.team-member__nav-control {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nav-control__next {
  right: 10px; }

/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .team-member {
    float: left;
    display: block;
    clear: none; }

  .progress-indicator, .team-member__description, .team-member__nav-control {
    display: none; } }
/* ---------------------------------------------
:: AWARDS
--------------------------------------------- */
.awards__s-content {
  display: block; }

.module__awards {
  height: 850px; }

/* ---------------------------------------------
:: FOOTER
--------------------------------------------- */
.footer__info {
  text-align: center; }

.d-nav-links {
  display: none; }

.d-col-6 {
  float: none; }

/* ----------
:: Desktop
---------- */
@media screen and (min-width: 650px) {
  .footer {
    height: 460px; }

  .footer__title {
    display: none; }

  .footer__info {
    text-align: left; }

  .d-col-6 {
    float: left; } }

/*# sourceMappingURL=styles.css.map */
