/* ---------------------------------------------
:: AWARDS
--------------------------------------------- */

.awards__s-content{
	display: block;
	background-color: $white;
}

.module__awards{
	height: 850px;
}