/* ---------------------------------------------
:: MODULE
--------------------------------------------- */
 
.module__title{
	text-align: center;
}

.module__subtitle{
	text-align: center;
}


/* ----------
:: Desktop
---------- */

@media screen and (min-width: 650px){
	.main-content{
		margin-top: 450px;
	}
}