/* ---------------------------------------------
:: OVERVIEW
--------------------------------------------- */

/* ----------
:: Mobile
---------- */

.module__overview{
	display: none;
}

/* ----------
:: Desktop
---------- */

@media screen and (min-width: 650px){

	.module__overview{
		display: block;
	}

	.overview__header{
		text-align: center;
	}
}