/* ---------------------------------------------
:: SERVICE
--------------------------------------------- */

.s-content{
	display: none;
}

.steps-overview{
	display: none;
}

.s-content--selected{
	display: block;
}

.service__s-content__img{
	display: block;
}

/* ----------
:: Desktop
---------- */

@media screen and (min-width: 650px){

	.service__side-bar{
		display: none;
	}

	.steps-overview{
		display: block;
	}

	.s-content{
		display: block;
	}

	.service__btn-cta{
		display: none;
	}

	.service__s-content__img{
		display: none;
	}
}